$primary-blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);
$neutral-gray: hsl(0, 0%, 59%);
$neutral-dk-blue: hsl(209, 33%, 12%);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: 100vh;
}  

.logo-container {
  margin-top: auto;
}

.hero {

  &__header {
    font-weight: 300;
    margin-bottom: 1rem;
  }

  &--bold {
    font-weight: 700;
  }

}

.email {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
  max-width: 600px;
  margin: 2rem auto;

  &__input {
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border-radius: 20px;
    border: 1px solid $neutral-gray;
    opacity: 60%;
    padding-left: 5%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-family: 'Libre Franklin', sans-serif; 
    }
  }

  &__invalid-text {
    display: none;
  }

  &__button {
    padding: 0.75rem;
    margin-top: 1rem;
    background-color: $primary-blue;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-weight: 600;
    box-shadow: 4px 4px 9px -3px rgb(58, 56, 56);
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      opacity: 60%;
    }

    &:focus {
      outline: none;
    }
  }

}

// Invalid styling

.email.invalid
.email__input {
  border: 1px solid $light-red;
}

.email.invalid
.email__invalid-text {
  display: block;
  color: $light-red;
  font-size: 0.7rem;
  font-style: italic;
  margin-top: 0.3rem;
}

// end of invalid styling

.graph-img-container {
  height: 28%;
  padding: 0.25rem;
  margin-top: 2rem;
}

.graph-img {
  height: 100%
}

.socials {
  margin-top: auto;
  

 &__icon {
   padding: 1rem;
   color: $primary-blue;
   cursor: pointer;
   border-radius: 50%;
   transition: all 0.7s ease;

   &:hover {
     color: #fff;
     background-color: $primary-blue;
     transform: scale(1.2);
   }
 }
}

.copyright__text {
  font-size: 0.7rem;
  margin-bottom: 2rem;
}

// Styles for larger screens
@media (min-width: 600px) {
  body {
    max-width: 800px;
    margin: auto;
  }

  .hero {
    &__header {
      font-size: 2.5rem;
    }
  }

  .graph-img-container {
    height: 40%;
  }

  .email {
    flex-direction: row;
  
    &__input {
      flex: 2;
      margin-right: 0.5rem;
    }

    &__button {
      flex: 1;
      margin-top: 0;
    }
  }

  .email.invalid
  .email__invalid-text {
    position: absolute;
    top: 108%;
    left: 5%;
  }
}